<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="navbar">Edit Post</div>

<div class="container">
    <div class="card">
        <p><strong>User:</strong> @<%= post.username %></p>

        <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
            <textarea name="content" rows="6"><%= post.content %></textarea>
            <button class="btn update">Update Post</button>
        </form>
    </div>
</div>

</body>
</html>